<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    {% load static %}
                    <link rel="stylesheet" href="{% static 'css/gradient.css' %}">
                    <title>Gradient page</title>
</head>
<body>
                    <div class="cont">
                                        <h1 style="color: white; font-size: 40px;">Generate a CSS Color Gradient</h1>
                                        <h3 style="color: white; font-size: 23px;">Choose orientation</h3>
                                        <ul>
                                                            <li><div><video src="{% static 'images/w.gif' %}"></video></div></li>
                                                            <li><div></div></li>
                                                            <li><div></div></li>
                                                            <li><div></div></li>
                                                            <li><div></div></li>
                                                            <li><div></div></li>
                                                            <li><div></div></li>
                                                            <li><div></div></li>
                                        </ul>
                    </div>
                    <script src="{% static 'js/gradient.js' %}"></script>
</body>
</html>