<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    {% load static %}
                    <link rel="stylesheet" href="{% static 'css/gradient.css' %}">
                    <script src="https://kit.fontawesome.com/3ea7d5175c.js" crossorigin="anonymous"></script>
                    <title>Gradient page</title>
</head>
<body>
                    <div class="cont">
                                        <h1>Generate a CSS Color Gradient</h1>
                                        <h3>Choose orientation</h3>
                                        <ul>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-by fa-2xl" style="color: #eff4f6; --fa-rotate-angle: 0deg;""></i></div></li>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-by fa-2xl" style="color: #eff4f6; --fa-rotate-angle: 45deg;""></i></div></li>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-90 fa-2xl" style="color: #eff4f6;"></i></div></li>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-by fa-2xl" style="color: #eff4f6; --fa-rotate-angle: 135deg;""></i></div></li>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-180 fa-2xl" style="color: #eff4f6;"></i></div></li>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-by fa-2xl" style="color: #eff4f6; --fa-rotate-angle: 225deg;""></i></div></li>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-270 fa-2xl" style="color: #eff4f6;"></i></div></li>
                                                            <li><div><i class="fa-solid fa-arrow-up fa-rotate-by fa-2xl" style="color: #eff4f6; --fa-rotate-angle: 315deg;""></i></div></li>
                                        </ul>
                                        <div class="radial"><img src="{% static 'images/radial.png' %}" alt="radial"></div>
                                        <h3>Enter colors</h3>
                                        <div class="enter">
                                                            <input type="text" value="#051937" class="cnamInp" />
                                                            <input type="color" class="colInp" >
                                                            <input type="text" value="#A8EB12" class="cnamInp" />
                                                            <input type="color" class="colInp" >
                                        </div>
                                        <button type="button">GENERATE</button>
                                        <h3 style="transform: translateX(-15%);" class="CSSCodeHeadingHidden">CSS Code :</h3>
                                        <div class="code">

                                        </div>
                    </div>
                    <script src="{% static 'js/gradient.js' %}"></script>
</body>
</html>