<!DOCTYPE html>
<html lang="en">
<head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    {% load static %}
                    <link rel="stylesheet" href="{% static 'css/gradient.css' %}">
                    <title>Gradient page</title>
</head>
<body>
                    <div class="cont">
                                        <h1>Generate a CSS Color Gradient</h1>
                                        <h3>Choose orientation</h3>
                                        <ul>
                                                            <li><div><img src="{% static 'images/n.png' %}" alt="n"></div></li>
                                                            <li><div><img src="{% static 'images/ne.png' %}" alt="ne"></div></li>
                                                            <li><div><img src="{% static 'images/e.png' %}" alt="e"></div></li>
                                                            <li><div><img src="{% static 'images/se.png' %}" alt="se"></div></li>
                                                            <li><div><img src="{% static 'images/s.png' %}" alt="s"></div></li>
                                                            <li><div><img src="{% static 'images/sw.png' %}" alt="sw"></div></li>
                                                            <li><div><img src="{% static 'images/w.png' %}" alt="w"></div></li>
                                                            <li><div><img src="{% static 'images/nw.png' %}" alt="nw"></div></li>
                                        </ul>
                                        <div class="radial"><img src="{% static 'images/radial.png' %}" alt="radial"></div>
                                        <h3>Enter colors</h3>
                                        <div class="enter">
                                                            <input type="text" value="#051937" class="cnamInp" />
                                                            <input type="color" class="colInp" >
                                                            <input type="text" value="#A8EB12" class="cnamInp" />
                                                            <input type="color" class="colInp" >
                                        </div>
                                        <button type="button">GENERATE</button>
                                        <h3 style="transform: translateX(-15%);">CSS Code :</h3>
                                        <div class="code">

                                        </div>
                    </div>
                    <script src="{% static 'js/gradient.js' %}"></script>
</body>
</html>