*{
                    padding: 5px 0;
                    margin: 0;
                    box-sizing: border-box;
}
.cont{
                    width: 100%;
                    min-height: 100vh;
                    border: 2px solid blue;
                    background-color: #34dbeb;
}
ul{
                    display: flex;
                    width: 100%;
                    height: 35px;
                    border: 2px solid blue;
                    justify-content: space-around;
                    padding: 0 10%;
                    margin: 0;
                    list-style-type: none;
                    gap: 2px;
}
li{
                    color: white;
                    size: 14px;
}
.hero{
                    width: 100%;
                    padding: 50px;
                    text-align: center;
                    font-weight: bolder;
}
input{
                    display: block;
                    margin: 70px auto 30px;
                    color: yellow;
                    background-color: grey;
                    border: none;
                    width: 180px;
                    height: 45px;
                    border-radius: 10px;
                    -webkit-box-shadow: 11px 10px 28px -3px rgba(120,120,120,1);
-moz-box-shadow: 11px 10px 28px -3px rgba(120,120,120,1);
box-shadow: 11px 10px 28px -3px rgba(120,120,120,1);
}
button{
                    display: block;
                    margin: 0 auto ;
                    color: yellow;
                    background-color: blue;
                    border: none;
                    width: 180px;
                    height: 45px;
                    border-radius: 10px;
                    -webkit-box-shadow: 11px 10px 28px -3px rgba(120,120,120,1);
-moz-box-shadow: 11px 10px 28px -3px rgba(120,120,120,1);
box-shadow: 11px 10px 28px -3px rgba(120,120,120,1);
}
